<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {#    	    {% load staticfiles %}#}
    {#    		<link href="{% static 'Ucook/css/base.css' %}" rel="stylesheet" type="text/css">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <style type="text/css">
        .content {
            margin-left: 30px;
            font-size: 16px;
            {#color: #243A4D;#}
        }
    </style>


    {% block head %}
    {% endblock %}
    <title> base</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span id="base-nameOfSite">UCook</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'welcome' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {#      <li class="nav-item">#}
            {#        <a class="nav-link" href="#">Link</a>#}
            {#      </li>#}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Explore
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{% url 'exploreHost' %}" id="base-findHost">Find Host</a>
                    <a class="dropdown-item" href="{% url 'exploreNonHost' %}" id="base-findNonHost">Find Non-host </a>
                    {#          <a class="dropdown-item" href="#">Action</a>#}
                    {#          <a class="dropdown-item" href="#">Another action</a>#}
                    {#          <div class="dropdown-divider"></div>#}
                    {#          <a class="dropdown-item" href="#">Something else here</a>#}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Post
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'iAmHost' %}" id="base-iAmHost">I Am Host</a>
                    <a class="dropdown-item" href="{% url 'iAmNonHost' %}" id="base-iAmNonHost">I Am Non-host </a>
                    {#          <a class="dropdown-item" href="#">Action</a>#}
                    {#          <a class="dropdown-item" href="#">Another action</a>#}
                    {#          <div class="dropdown-divider"></div>#}
                    {#          <a class="dropdown-item" href="#">Something else here</a>#}
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img id="register-logo" src="../../static/images/icon.svg" alt="logo" width="20" height="20">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profile' %}" id="base-profile">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}" id="base-logout">Logout </a>
                    {#          <a class="dropdown-item" href="#">Action</a>#}
                    {#          <a class="dropdown-item" href="#">Another action</a>#}
                    {#          <div class="dropdown-divider"></div>#}
                    {#          <a class="dropdown-item" href="#">Something else here</a>#}
                </div>
            </li>

            {#      <li class="nav-item">#}
            {#        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
            {#      </li>#}
        </ul>

        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">Username#}
        {#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}

    </div>
</nav>


{#<div class="big-heading">#}
{#    <span id="base-nameOfSite">UCook</span>#}
{#    <a href="{% url 'welcome' %}">#}
{#        <button id="base-home"> Home</button>#}
{#    </a>#}
{#    <span class="explore-dropdown">#}
{#            <button id="base-explore"> Explore</button>#}
{#            <nav class="explore-dropdown-content">#}
{#                <a href="{% url 'exploreHost' %}" id="base-findHost">Find Host</a>#}
{#                <a href="{% url 'exploreNonHost' %}" id="base-findNonHost">Find Non-host </a>#}
{#            </nav>#}
{#        </span>#}
{#    <span class="post-dropdown">#}
{#            <button id="base-post"> Post</button>#}
{#            <nav class="post-dropdown-content">#}
{#                <a href="{% url 'iAmHost' %}" id="base-iAmHost">I Am Host</a>#}
{#                <a href="{% url 'iAmNonHost' %}" id="base-iAmNonHost">I Am Non-host </a>#}
{#            </nav>#}
{#        </span>#}
{#    <span class="personal-dropdown">#}
{#            <button id="base-username"> {{ user.first_name }} {{ user.last_name }}</button>#}
{#            <nav class="presonal-dropdown-content">#}
{#                <a href="{% url 'profile' %}" id="base-profile">Profile</a>#}
{#                <a href="{% url 'logout' %}" id="base-logout">Logout </a>#}
{#            </nav>#}
{#        </span>#}
{#</div>#}


<div class="content">
<br>
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
