<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        .register {
            margin-left: 30px;
            font-size: 20px;
            color: #243A4D;
        }
        #register-nameOfSite {
            font-size: 30px;
          }
        label {
            cursor: pointer;
            display: inline-block;
            padding: 3px 6px;
            text-align: right;
            width: 80px;
            vertical-align: top;
        }
    </style>
    <title>Welcome</title>
</head>
<body>

<img id="register-logo" src="../../static/images/ucook.png" alt="logo" width="260" height="260"><br>

<div class="register">

<span id="register-nameOfSite">UCook</span>
<br><br>

{#    <form method="post" action="{% url 'register' %}">#}
{#        username: <input type="text" name="username" /><br>#}
{#        password: <input type="text" name="password" /><br>#}
{#        retype password: <input type="text" name="retypePassword" /><br>#}
{#        email: <input type="text" name="email" /><br>#}
{#        <input type="submit" value="Register" />#}
{#            {% csrf_token %}#}
{#    </form>#}

<form method="post" action="{% url 'register' %}">
    <table>
        {% for field in form.visible_fields %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
                <td class="errorlist">
                    {% for error in field.errors %} {{ error }} {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% csrf_token %}
<br>
    <button type="submit" id="register_button">Register</button>
</form>

<br>

<a id="register-login" href="{% url 'login' %}">
{#    <button id="register-login">Login</button>#}
    Login Here
</a><br>

{% for error in form.non_field_errors %}
    <p class="errorlist">
        {{ error }}
    </p>
{% endfor %}
</div>

</body>
</html>